{% extends 'base.html' %}
{% block main %}
<table class="center">
	<thead>
		<tr>
			<th>Team number</th>
			<th>Team name</th>
			<th>Round 1</th>
			<th>Round 2</th>
			<th>Round 3</th>
			<th>Quarter Final</th>
			<th>Semi Final</th>
			<th>Final 1</th>
			<th>Final 2</th>
		</tr>
	</thead>

	<tbody>
		{% for team in teams %}
			<tr>
				<td>{{ team.number }}</td>
				<td>{{ team.name }}</td>

				<td>{% if team.round_1 is none %} - {% else %} {{ team.round_1 }} {% endif %}</td>
				<td>{% if team.round_2 is none %} - {% else %} {{ team.round_2 }} {% endif %}</td>
				<td>{% if team.round_3 is none %} - {% else %} {{ team.round_3 }} {% endif %}</td>
				<td>{% if team.quarter is none %} - {% else %} {{ team.quarter }} {% endif %}</td>
				<td>{% if team.semi is none %} - {% else %} {{ team.semi }} {% endif %}</td>
				<td>{% if team.final_1 is none %} - {% else %} {{ team.final_1 }} {% endif %}</td>
				<td>{% if team.final_2 is none %} - {% else %} {{ team.final_2 }} {% endif %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
