{% extends 'base.html' %}
{% block main %}
<div class="score-round-form">
    <form action="{{ url_for('judges_score_round') }}" method="POST" name="score_round">
        {{ form.hidden_tag() }}

        {% if form.errors %}
            <section>
                <div class="errors">
                    <ul>
                        <!-- TODO: loop through errors and ignore field once complete -->
                        {% for field, errors in form.errors.items() %}
                            <li>{{ field }} - {{ errors }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}

        <div class="form-submit top">
            <input type="submit" value="Calculate Score" id="calcScore" class="button submit-button calc-score">

            {% if confirm %}
                <input type="submit" value="Submit Score" id="submitScore" class="button submit-button submit-score">
            {% endif %}
        </div>

        <section>
            <div class="form-input">
                {{ form.team.label(class_='inline') }}

                {% if form.team.errors %}
                    {{ form.team(class_='input-select input-error') }}
                {% else %}
                    {{ form.team(class_='input-select') }}
                {% endif %}
            </div>

            <div class="form-input">
                {{ form.yellow_card(class_='input-checkbox error') }}
                {{ form.yellow_card.label(class_='inline') }}
            </div>
        </section>

        <section>
            <h2>{{ form.m01_title }}</h2>

            <div class="form-input">
                {{ form.m01_complete.label }}

                {% if form.m01_complete.errors %}
                    {{ form.m01_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m01_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m02_title }}</h2>

            <div class="form-input">
                {{ form.m02_complete.label }}

                {% if form.m02_complete.errors %}
                    {{ form.m02_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m02_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m03_title }}</h2>

            <div class="form-input">
                {{ form.m03_complete.label }}

                {% if form.m03_complete.errors %}
                    {{ form.m03_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m03_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m04_title }}</h2>

            <div class="form-input">
                {{ form.m04_complete.label }}

                {% if form.m04_complete.errors %}
                    {{ form.m04_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m04_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m05_title }}</h2>

            <div class="form-input">
                {{ form.m05_complete.label }}

                {% if form.m05_complete.errors %}
                    {{ form.m05_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m05_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m06_title }}</h2>

            <div class="form-input">
                {{ form.m06_complete.label }}

                {% if form.m06_complete.errors %}
                    {{ form.m06_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m06_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m07_title }}</h2>

            <div class="form-input">
                {{ form.m07_complete.label }}

                {% if form.m07_complete.errors %}
                    {{ form.m07_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m07_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m08_title }}</h2>

            <div class="form-input">
                {{ form.m08_complete.label }}

                {% if form.m08_complete.errors %}
                    {{ form.m08_complete(class_='input-select input-error') }}
                {% else %}
                    {{ form.m08_complete(class_='input-select') }}
                {% endif %}
            </div>

            <div class="form-input">
                {{ form.m08_bonus(class_='input-checkbox') }}
                {{ form.m08_bonus.label(class_='inline') }}
            </div>
        </section>

        <section>
            <h2>{{ form.m09_title }}</h2>

            <div class="form-input">
                {{ form.m09_complete.label }}

                {% if form.m09_complete.errors %}
                    {{ form.m09_complete(class_='input-select input-error') }}
                {% else %}
                    {{ form.m09_complete(class_='input-select') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m10_title }}</h2>

            <div class="form-input">
                {{ form.m10_complete.label }}

                {% if form.m10_complete.errors %}
                    {{ form.m10_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m10_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m11_title }}</h2>

            <div class="form-input">
                {{ form.m11_complete.label }}

                {% if form.m11_complete.errors %}
                    {{ form.m11_complete(class_='input-select input-error') }}
                {% else %}
                    {{ form.m11_complete(class_='input-select') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m12_title }}</h2>

            <div class="form-input">
                {{ form.m12_complete.label }}

                {% if form.m12_complete.errors %}
                    {{ form.m12_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m12_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m13_title }}</h2>

            <div class="form-input">
                {{ form.m13_complete.label }}

                {% if form.m13_complete.errors %}
                    {{ form.m13_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m13_complete(class_='input-radio', onchange='toggle_bonus(this.id)') }}
                {% endif %}
            </div>

            <div class="form-input">
                {{ form.m13_bonus(class_='input-checkbox') }}
                {{ form.m13_bonus.label(class_='inline') }}
            </div>
        </section>

        <section>
            <h2>{{ form.m14_title }}</h2>

            <div class="form-input">
                {{ form.m14_complete.label }}

                {% if form.m14_complete.errors %}
                    {{ form.m14_complete(class_='input-select input-error') }}
                {% else %}
                    {{ form.m14_complete(class_='input-select') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m15_title }}</h2>

            <div class="form-input">
                {{ form.m15_complete.label }}

                {% if form.m15_complete.errors %}
                    {{ form.m15_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m15_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.m16_title }}</h2>

            <div class="form-input">
                {{ form.m16_part_1.label }}

                {% if form.m16_part_1.errors %}
                    {{ form.m16_part_1(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m16_part_1(class_='input-radio', onclick='toggle_bonus(this.id)') }}
                {% endif %}
            </div>

            <div class="form-input">
                {{ form.m16_part_2.label }}

                {% if form.m16_part_2.errors %}
                    {{ form.m16_part_2(class_='input-select input-error') }}
                {% else %}
                    {{ form.m16_part_2(class_='input-select') }}
                {% endif %}
            </div>

            <div class="form-input">
                {{ form.m16_bonus(class_='input-checkbox') }}
                {{ form.m16_bonus.label(class_='inline') }}
            </div>
        </section>

        <section>
            <h2>{{ form.m17_title }}</h2>

            <div class="form-input">
                {{ form.m17_complete.label }}

                {% if form.m17_complete.errors %}
                    {{ form.m17_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m17_complete(class_='input-radio', onchange='toggle_bonus(this.id)' )}}
                {% endif %}
            </div>

            <div class="form-input">
                {{ form.m17_bonus(class_='input-checkbox') }}
                {{ form.m17_bonus.label(class_='inline') }}
            </div>
        </section>

        <section>
            <h2>{{ form.m18_title }}</h2>

            <div class="form-input">
                {{ form.m18_complete.label }}

                {% if form.m18_complete.errors %}
                    {{ form.m18_complete(class_='input-radio input-error') }}
                {% else %}
                    {{ form.m18_complete(class_='input-radio') }}
                {% endif %}
            </div>
        </section>

        <section>
            <h2>{{ form.penalties_title }}</h2>

            <div class="form-input">
                {{ form.penalties_chosen.label }}

                {% if form.penalties_chosen.errors %}
                    {{ form.penalties_chosen(class_='input-select input-error') }}
                {% else %}
                    {{ form.penalties_chosen(class_='input-select') }}
                {% endif %}
            </div>
        </section>

        {% if confirm %}
            <section>
                <h2>Confirm score</h2>

                <div class="form-input">
                    {{ form.score.label }}
                    {{ form.score(class_='input-number', readonly=True) }}
                </div>
            </section>
        {% endif %}

        <div class="form-submit">
            <input type="submit" value="Calculate Score" id="calcScore" class="button submit-button calc-score">

            {% if confirm %}
                <input type="submit" value="Submit Score" id="submitScore" class="button submit-button submit-score">
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
(function ($) {
    'use strict';

    function init() {
        var confirm = !!$('.submit-score').length,
            $calcScore = $('.calc-score'),
            $confirm = $('#confirm');

        if (confirm) {
            $calcScore.click(function (e) {
                $confirm.val('0');
            });
        }
    }

    $(init)
}(jQuery))

// js form helper
function toggle_bonus(id){
    var form_id = id.substring(0,3)
    var form_bonus = document.getElementById(form_id+"_bonus")
    form_bonus.disabled = !document.getElementById(id+"-0").checked

    if(form_bonus.disabled){
        form_bonus.checked = false
    }
}

</script>
{% endblock %}
