{% extends 'base.html' %}
{% block main %}
<div class="score-round-form">
    <form action="{{ url_for('judges_score_round') }}" method="POST" name="score_round">
        {{ form.hidden_tag() }}

        {% if form.errors %}
            <section>
                <div class="errors">
                    <ul>
                        <!-- TODO: loop through errors and ignore field once complete -->
                        {% for field, errors in form.errors.items() %}
                            <li>{{ field }} - {{ errors }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}

        <div class="form-submit top">
            <input type="submit" value="Calculate Score" id="calcScore" class="button submit-button calc-score">

            {% if confirm %}
                <input type="submit" value="Submit Score" id="submitScore" class="button submit-button submit-score">
            {% endif %}
        </div>

        <section>
            <div class="form-input">
                {{ form.team.label(class_='inline') }}

                {% if form.team.errors %}
                    {{ form.team(class_='input-select input-error') }}
                {% else %}
                    {{ form.team(class_='input-select') }}
                {% endif %}
            </div>

            <div class="form-input">
                {{ form.yellow_card(class_='input-checkbox error') }}
                {{ form.yellow_card.label(class_='inline') }}
            </div>
        </section>

        {% for missions in form.missions %}
            {% for mission in missions %}
                <section>
                    <h2>
                        {{ mission.label }}
                    </h2>
                    {% for fields in mission %}
                        {% for field in fields %}
                            {{ field }}
                            {{ field.label }}
                            <br>
                        {% endfor %}
                    {% endfor %}
                </section>
            {% endfor %}
        {% endfor %}


        {% if confirm %}
            <section>
                <h2>Confirm score</h2>

                <div class="form-input">
                    {{ form.score.label }}
                    {{ form.score(class_='input-number', readonly=True) }}
                </div>
            </section>
        {% endif %}

        <div class="form-submit">
            <input type="submit" value="Calculate Score" id="calcScore" class="button submit-button calc-score">

            {% if confirm %}
                <input type="submit" value="Submit Score" id="submitScore" class="button submit-button submit-score">
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
(function ($) {
    'use strict';

    function init() {
        var confirm = !!$('.submit-score').length,
            $calcScore = $('.calc-score'),
            $confirm = $('#confirm');

        if (confirm) {
            $calcScore.click(function (e) {
                $confirm.val('0');
            });
        }
    }

    $(init)
}(jQuery))




// js form helper
function toggle_bonus(id){
    var form_id = id.substring(0,3)
    var form_bonus = document.getElementById(form_id+"_bonus")
    form_bonus.disabled = !document.getElementById(id+"-0").checked

    if(form_bonus.disabled){
        form_bonus.checked = false
    }
}

function inital_startup(){ //TODO: not working - doc.getEleID is null
    // This isnt very good - could be done better, mark which have a bonus and deal with them spcfically?
    var inputs = document.getElementsByTagName("input")
    var checkboxes = []
    for(i=0;i<inputs.length;i++){
        if(inputs[i].type=="checkbox"){
            checkboxes.push(inputs[i])
        }
    }
    for(i=0;i<checkboxes.length;i++){
        if(checkboxes[i].id.search("bonus") != -1 ){
            try{
                toggle_bonus(checkboxes[i].id.substring(0,3)+"_complete")
            } catch(err){
                console.log(err)
                try{
                    toggle_bonus(checkboxes[i].id.substring(0,3)+"_part_1")
                } catch (err) {
                    console.log(err)
                }
            }
        }
    }
    dropdown_bonus_toggle("m08_complete", 30)
}
// Toggle bonus for the drop down m08
// TODO: could probably be done better
function dropdown_bonus_toggle(id, target){
    var form_id = id.substring(0,3)
    var bonus = document.getElementById(form_id + "_bonus")
    if(document.getElementById(id).value == target){
        bonus.disabled = false
    } else {
        bonus.checked = false
        bonus.disabled = true
    }
}
inital_startup()
</script>
{% endblock %}
