{% extends 'base.html' %}
{% block main %}
<div class="score-round-form">
    <form action="{{ url_for('judges_score_round') }}" method="POST" name="scoreround">
        {{ form.hidden_tag() }}

        {% if form.errors %}
            <div class="errors">
                <ul>
                    {% for _field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-input">
            {{ form.team.label }}

            {% if form.team.errors %}
                {{ form.team(class_='input-select input-error') }}
            {% else %}
                {{ form.team(class_='input-select') }}
            {% endif %}
        </div>

        <div class="form-input">
            {{ form.task.label }}

            {% if form.task.errors %}
                {{ form.task(class_='input-select input-error') }}
            {% else %}
                {{ form.task(class_='input-select') }}
            {% endif %}
        </div>

        <div class="form-submit">
            <input type="submit" value="Submit" class="button submit-button">
        </div>
    </form>
</div>
{% endblock %}
