{% extends 'base.html' %}
{% block main %}
<div class="score-round-form">
    <form action="{{ url_for('judges_score_round') }}" method="POST" name="score_round">
        {{ form.hidden_tag() }}

        {% if form.errors %}
            <section>
                <div class="errors">
                    <ul>
                        <!-- TODO: loop through errors and ignore field once complete -->
                        {% for field, errors in form.errors.items() %}
                            <li>{{ field }} - {{ errors }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}

        <div class="form-submit top">
            <input type="submit" value="Calculate Score" id="calcScore" class="button submit-button calc-score">

            {% if confirm %}
                <input type="submit" value="Submit Score" id="submitScore" class="button submit-button submit-score">
            {% endif %}
        </div>

        <section>
            <div class="form-input">
                {{ form.team.label(class_='inline') }}

                {% if form.team.errors %}
                    {{ form.team(class_='input-select input-error') }}
                {% else %}
                    {{ form.team(class_='input-select') }}
                {% endif %}
            </div>

            <div class="form-input">
                {{ form.yellow_card(class_='input-checkbox error') }}
                {{ form.yellow_card.label(class_='inline') }}
            </div>
        </section>


        {% for mission in form.missions %}
            <section>
                <h2>
                    {{ mission.label }}
                </h2>
                {% for field in mission %}
                    <div>
                        {% if field.type == "StringField" %}
                            {{ field.label }}
                        {% endif %}
                        {% if field.type == "BooleanField" or field.type == "CheckboxField" %}
                            {% if field.errors %}
                                {{ field(class_='input-checkbox error') }}
                            {% else %}
                                {{ field(class_='input-checkbox') }}
                            {% endif %}
                            {{ field.label }}
                        {% endif %}
                        {% if field.type == "RadioField" %}
                            {{ field.label }}
                            {% if field.errors %}
                                {{ field(class_='input-radio input-error') }}
                            {% else %}
                                {{ field(class_='input-radio') }}
                            {% endif %}
                        {% endif %}
                        {% if field.type == "SelectField" %}
                            {{ field.label }}
                            {% if field.errors %}
                                {{ field(class_='input-select input-error') }}
                            {% else %}
                                {{ field(class_='input-select') }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </section>
        {% endfor %}


        {% if confirm %}
            <section>
                <h2>Confirm score</h2>

                <div class="form-input">
                    {{ form.score.label }}
                    {{ form.score(class_='input-number', readonly=True) }}
                </div>
            </section>
        {% endif %}

        <div class="form-submit">
            <input type="submit" value="Calculate Score" id="calcScore" class="button submit-button calc-score">

            {% if confirm %}
                <input type="submit" value="Submit Score" id="submitScore" class="button submit-button submit-score">
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
(function ($) {
    'use strict';

    function init() {
        var confirm = !!$('.submit-score').length,
            $calcScore = $('.calc-score'),
            $confirm = $('#confirm');

        if (confirm) {
            $calcScore.click(function (e) {
                $confirm.val('0');
            });
        }
    }

    $(init)
}(jQuery))
</script>
{% endblock %}
