{% extends 'judges/scoretask_base.html' %}
{% block form %}
<div class="form-input">
    {{ form.covers_flipped.label(class_='form-label') }}
    {% if form.covers_flipped.errors %}
        {{ form.covers_flipped(class_='input-select input-error') }}
    {% else %}
        {{ form.covers_flipped(class_='input-select') }}
    {% endif %}
</div>

<div class="form-input">
    {{ form.in_separate_targets.label(class_='form-label') }}
    {% if form.in_separate_targets.errors %}
        {{ form.in_separate_targets(class_='input-checkbox input-error') }}
    {% else %}
        {{ form.in_separate_targets(class_='input-checkbox') }}
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
;(function () {
    'use strict';

    var select = document.getElementById('foo');

    function check_unlock_checkbox() {}
</script>
{% endblock %}
