{% extends '../scoretask_base.html' %}
{% block form %}
<label>
    <span>{{ form.in_target.label }}</span>
    {{ form.in_target }}
</label>

<label>
    <span>{{ form.touching_floor.label }}</span>
    {{ form.touching_floor }}
</label>

<label>
    <span>{{ form.nothing_touched.label }}</span>
    {{ form.nothing_touched }}
</label>
<!--
<section>
            <header>
                <h3>M01 Shark Shipment</h3>
                <div>Nothing can touch the Shark except the tank</div>
            </header>

            <table>
                <tr>
                    <td>Shark and Tank are completely in Target...</td>
                    <td>
                        <select id="sharkInTarget" name="sharkInTarget" onChange="javascript:checkShark()">
                            <option value="0">None</option>
                            <option value="7">Target One</option>
                            <option value="10">Target Two</option>
                        </select>
                    </td>
                    <td>7 or 10 possible</td>
                </tr>
                <tr>
                    <td>Shark touching ONLY Tank floor (NOT wall)</td>
                    <td>
                        <input type="checkbox" name="sharkTouchingFloor" id="sharkTouchingFloor" value="20" disabled="true">
                    </td>
                    <td>20 possible</td>
                </tr>
                <tr>
                    <td>Nothing touched the Shark except the Tank</td>
                    <td>
                        <input type="checkbox" name="nothingTouchedShark" id="nothingTouchedShark" value="1">
                    </td>
                    <td></td>
                </tr>
            </table>
        </section>
-->
{% form %}
