{% extends 'judges/scoretask_base.html' %}
{% block form %}
{% if form.in_target.errors or form.touching_floor.errors or form.nothing_touched.errors %}
    <div class="error">
        <ul>
            {% for error in form.in_target.errors %}
                <li>(in_target) {{ error }}</li>
            {% endfor %}

            {% for error in form.touching_floor.errors %}
                <li>(touching_floor) {{ error }}</li>
            {% endfor %}

            {% for error in form.nothing_touched.errors %}
                <li>(nothing_touched) {{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<label>
    <span>{{ form.in_target.label }}</span>
    {% if form.in_target.errors %}
        {{ form.in_target(class_='error') }}
    {% else %}
        {{ form.in_target }}
    {% endif %}
</label>

<label>
    <span>{{ form.touching_floor.label }}</span>
    {{ form.touching_floor }}
</label>

<label>
    <span>{{ form.nothing_touched.label }}</span>
    {{ form.nothing_touched }}
</label>
{% endblock %}
