<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }} - 2018 FIRST Lego League Robotics Challenge</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

        {% block head %}{% endblock %}
    </head>
    <body class="{{ title | slugify }}">
        <header class="header">
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item-list">
                        <span class="nav-icon">
                            <i class="fa fa-bars"></i>
                        </span>
                        <ul class="nav-items">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('scoreboard') }}">Scoreboard</a>
                            </li>
                            <li class="nav-item">
                                {% if current_user.is_authenticated %}
                                    <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
                                {% else %}
                                    <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
                                {% endif %}
                            </li>

                            {% if current_user.is_authenticated and
                                (current_user.is_judge or current_user.is_admin) %}
                                <li class="nav-item nav-sec">
                                    <span class="nav-sec-title">Judges</span>
                                    <ul class="nav-items nav-sec-items">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('judges_score_round') }}">Score Round</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% if current_user.is_authenticated and current_user.is_admin %}
                                <li class="nav-item nav-sec">
                                    <span class="nav-sec-title">Admin</span>
                                    <ul class="nav-items nav-sec-items">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('admin_team') }}">View Teams</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('admin_team_new') }}">Add Team</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('admin_stage') }}">Manage Stage</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="page-logo">
                <h2 class="page-logo-title">2018 FIRST Lego League Robotics Challenge</h2>
            </div>
        </header>

        <main class="main">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="messages">
                        <ul class="message-list">
                            {% for message in messages %}
                                <li class="message">{{ message }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

            <header class="page-header">
                <h1 class="page-title">{{ title }}</h1>
            </header>

            {% block main %}{% endblock %}
        </main>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
