{% extends 'base.html' %}
{% block main %}
<table class="center">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        {% if teams %}
            {% for t in teams %}
                <tr>
                    <td>{{ t.number }}</td>
                    <td>{{ t.name }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">No teams found</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
