{% extends 'base.html' %}
{% block main %}
<div class="login-form">
    <form action="" method="POST" name="login">
        {{ form.hidden_tag() }}

        {% if form.errors %}
            <div class="errors">
                <ul>
                    {% for _field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-input">
            {{ form.username.label }}

            {% if form.username.errors %}
                {{ form.username(class_='input-text input-error') }}
            {% else %}
                {{ form.username(class_='input-text') }}
            {% endif %}
        </div>

        <div class="form-input">
            {{ form.password.label }}

            {% if form.password.errors %}
                {{ form.password(class_='input-text input-error') }}
            {% else %}
                {{ form.password(class_='input-text') }}
            {% endif %}
        </label>

        <div class="form-submit">
            <input type="submit" value="Log in" class="button submit-button">
        </div>
    </form>
</div>
{% endblock %}
