{% extends 'base.html' %}

{% block head %}
<!-- <meta http-equiv="refresh" content="30"> -->
{% endblock %}

{% block main %}
<table>
    <tr>
        <th>Rank</th>
        <th>Team Name</th>
        <th>Round 1</th>
        <th>Round 2</th>
        <th>Round 3</th>
    </tr>
    {% for team in top_eight %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ team.name }}</td>

            {% for attempt in team.attempts %}
                {% if not attempt %}
                    <td>-</td>
                {% elif attempt == team.highest_score %}
                    <td>
                        <strong>{{ attempt }}</strong>
                    </td>
                {% else %}
                    <td>{{ attempt }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>Rank</th>
        <th>Team Name</th>
        <th>Round 1</th>
        <th>Round 2</th>
        <th>Round 3</th>
    </tr>

    {% for team in second_eight %}
        <tr>
            <td>{{ loop.index + 8 }}</td>
            <td>{{ team.name }}</td>

            {% for attempt in team.attempts %}
                {% if not attempt %}
                    <td>-</td>
                {% elif attempt == team.highest_score %}
                    <td>
                        <strong>{{ attempt }}</strong>
                    </td>
                {% else %}
                    <td>{{ attempt }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>Rank</th>
        <th>Team Name</th>
        <th>Round 1</th>
        <th>Round 2</th>
        <th>Round 3</th>
    </tr>

    {% for team in third_eight %}
        <tr>
            <td>{{ loop.index + 16 }}</td>
            <td>{{ team.name }}</td>

            {% for attempt in team.attempts %}
                {% if not attempt %}
                    <td>-</td>
                {% elif attempt == team.highest_score %}
                    <td>
                        <strong>{{ attempt }}</strong>
                    </td>
                {% else %}
                    <td>{{ attempt }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
