{% extends 'base.html' %}

{% block head %}
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block main %}
<table class="center">
    <tr>
        <th>Rank</th>
        <th>Team Number</th>
        <th>Team Name</th>

        {% if round %}
            <th>Round 1</th>
            <th>Round 2</th>
            <th>Round 3</th>

        {% elif quarter_final %}
            <th>Round 1</th>
            <th>Round 2</th>
            <th>Round 3</th>
            <th>Quarter final</th>

        {% elif semi_final %}
            <th>Round 1</th>
            <th>Round 2</th>
            <th>Round 3</th>
            <th>Quarter final</th>
            <th>Semi final</th>

        {% elif final %}
            <th>Round 1</th>
            <th>Round 2</th>
            <th>Round 3</th>
            <th>Quarter final</th>
            <th>Semi final</th>
            <th>Final 1</th>
            <th>Final 2</th>
            <th>Final total</th>
        {% endif %}
    </tr>
    {% for team in first %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ team.number }}</td>
            <td>{{ team.name }}</td>

            {% if round %}
                {% for attempt in team.attempts %}
                    {% if attempt is none%}
                        <td>-</td>
                    {% elif attempt == team.highest_score %}
                        <td>
                            <strong>{{ attempt }}</strong>
                        </td>
                    {% else %}
                        <td>{{ attempt }}</td>
                    {% endif %}
                {% endfor %}

            {% elif quarter_final %}
                <td>{{ team.round_1 }}</td>
                <td>{{ team.round_2 }}</td>
                <td>{{ team.round_3 }}</td>

                {% if not team.quarter %}
                    <td>-</td>
                {% else %}
                    <td>
                        <strong>{{ team.quarter }}</strong>
                    </td>
                {% endif %}

            {% elif semi_final %}
                <td>{{ team.round_1 }}</td>
                <td>{{ team.round_2 }}</td>
                <td>{{ team.round_3 }}</td>
                <td>{{ team.quarter }}</td>

                {% if not team.semi %}
                    <td>-</td>
                {% else %}
                    <td>
                        <strong>{{ team.semi }}</strong>
                    </td>
                {% endif %}

            {% elif final %}
                <td>{{ team.round_1 }}</td>
                <td>{{ team.round_2 }}</td>
                <td>{{ team.round_3 }}</td>
                <td>{{ team.quarter }}</td>
                <td>{{ team.semi }}</td>

                {% for attempt in team.finals %}
                    {% if attempt is none %}
                        <td>-</td>
                    {% elif attempt == team.highest_final %}
                        <td>
                            <strong>{{ attempt }}</strong>
                        </td>
                    {% else %}
                        <td>{{attempt }}</td>
                    {% endif %}
                {% endfor %}

                <td>{{ team.final_total }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% if round %}
    <div class="column-2">
        <table class="center">
            <tr>
                <th>Rank</th>
                <th>Team Number</th>
                <th>Team Name</th>
                <th>Round 1</th>
                <th>Round 2</th>
                <th>Round 3</th>
            </tr>

            {% for team in second %}
                <tr>
                    <td>{{ loop.index + first|length }}</td>
                    <td>{{ team.number }}</td>
                    <td>{{ team.name }}</td>

                    {% for attempt in team.attempts %}
                        {% if attempt is none %}
                            <td>-</td>
                        {% elif attempt == team.highest_score %}
                            <td>
                                <strong>{{ attempt }}</strong>
                            </td>
                        {% else %}
                            <td>{{ attempt }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <table class="center">
            <tr>
                <th>Rank</th>
                <th>Team Number</th>
                <th>Team Name</th>
                <th>Round 1</th>
                <th>Round 2</th>
                <th>Round 3</th>
            </tr>

            {% for team in third %}
                <tr>
                    <td>{{ loop.index + first|length + second|length }}</td>
                    <td>{{ team.number }}</td>
                    <td>{{ team.name }}</td>

                    {% for attempt in team.attempts %}
                        {% if attempt is none %}
                            <td>-</td>
                        {% elif attempt == team.highest_score %}
                            <td>
                                <strong>{{ attempt }}</strong>
                            </td>
                        {% else %}
                            <td>{{ attempt }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
{% endblock %}
