* {
    box-sizing: border-box;
}

html {

}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 20px;
}

strong {
    font-weight: bold;
}

.header {
    height: 60px;
    margin: 0 auto 20px;
    padding: 0 20px;
    position: relative;
    width: 1000px;
}

.header .nav {
    display: inline-block;
    position: absolute;
    top: 0;
}

.header .nav .nav-icon {
    color: #222;
    display: inline-block;
    font-size: 1.5rem;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
}

.header .nav:hover .nav-icon {
    background-color: #ddd;
}

.header .nav .nav-items {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: #ddd;
    text-align: left;
}

.header .nav:hover .nav-items {
    display: inline-block;
}

.nav .nav-items .nav-items {
    position: initial;
}

.nav-item {
    line-height: 1rem;
}

.nav-link, .nav-sec-title {
    display: inline-block;
    width: 180px;
    padding: 15px 20px;
    text-decoration: none;
    color: inherit;
}

.nav-sec-title {
    font-weight: bold;
}

.nav-sec-items .nav-link {
    padding-left: 30px;
}

.nav-link:hover {
    background-color: #bbb;
}

.header .page-logo {
    font-size: 2rem;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.main {
    margin: 0 auto;
    width: 1000px;
    padding: 10px 20px;
}

.main .page-header {
    text-align: center;
    margin-bottom: 20px;
}

.main .page-title {
    border-bottom: 2px solid #222;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.2rem;
    padding: 0 2px 10px;
}

.messages {
    margin-bottom: 18px;
}

.message {
    width: 60%;
    margin: 0 auto 2px;
    padding: 6px 16px;
    background-color: #ddd;
}

.main section {
    border-bottom: 2px solid #222;
    padding: 50px 30px;
}

.main section h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-input > label {
    display: block;
    margin-bottom: 10px;
}

.form-input label.inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: text-bottom;
}

.form-input + .form-input {
    margin-top: 20px;
}

.input-select,
.input-number,
.input-text {
    font-size: 1rem;
    padding: 5px;
}

.input-text,
.input-select {
    border: 1px solid #aaa;
}

.input-text:hover,
.input-select:hover {
    border: 1px solid #777;
}

.input-radio input {
    height: 16px;
    width: 16px;
}

.input-radio label {
    vertical-align: text-bottom;
}

.input-checkbox {
    height: 16px;
    width: 16px;
}

.input-select.input-error,
.input-text.input-error {
    background-color: #ffdede;
}

.input-select.input-error:focus,
.input-text.input-error {
    outline-color: #ed2939
}

.form-submit {
    margin: 40px 0 80px;
    text-align: center;
}

.button {
    padding: 8px 20px;
    border: 0;
    background-color: #ccc;
    font-size: 1rem;
}

.button:hover {
    background-color: #aaa;
}

table {
    border: 1px solid #555;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

table th,
table td {
    border: 1px solid #555;
    padding: 5px 8px;
    text-align: center;
}

table th {
    background-color: #bbb;
    font-weight: bold;
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table.left {
    float: left;
}

table.right {
    float: right;
}
