.scoreboard {
    background-color: #fff;
    color: #111;
}

.scoreboard .header {
    margin-bottom: 0;
}

.scoreboard .page-header {
    display: none;
}

.scoreboard .table-wrapper {
    width: 1000px;
    margin: 0 auto;
    border: 5px solid #205886;
    border-radius: 20px;
    background-color: #3287cd;
}

/* Minimum width */
@media (min-width: 1300px) {
    .scoreboard .table-wrapper {
        width: 1200px;
    }
}

.scoreboard table,
.scoreboard table th,
.scoreboard table td {
    border: 0;
}

.scoreboard thead th {
    font-weight: normal;
}

.scoreboard table tr {
    background-color: transparent;
}

.scoreboard table tbody td {
    background-color: #eee;
    color: #111;
}

.scoreboard table {
    border-spacing: 0 5px;
}

.scoreboard table thead th,
.scoreboard table thead tr {
    background-color: transparent;
    color: #fff;
}

.scoreboard table {
    border-collapse: separate;
}

.scoreboard tbody tr td {
    min-width: 55px;
}

.scoreboard tbody tr td:first-child {
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
    /* stop background colour leaking out */
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.scoreboard tbody tr td:last-child {
    border-radius: 0 20px 20px 0;
}


.scoreboard table tbody td:nth-child(2) {
    text-transform: uppercase;
}

.scoreboard table thead th:nth-child(2),
.scoreboard table tbody td:nth-child(2) {
    width: 300px;
    max-width: 300px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Minimum width */
@media (min-width: 1300px) {
    .scoreboard table thead th:nth-child(2),
    .scoreboard table tbody td:nth-child(2) {
        width: 400px;
        max-width: 400px;
    }
}

.scoreboard table thead {
    text-transform: uppercase;
}

.scoreboard .top-images,
.scoreboard .bottom-images {
    width: 1000px;
    height: 80px;
    margin: 0 auto;
}

@media (min-width: 1300px) {
    .scoreboard .top-images,
    .scoreboard .bottom-images {
        width: 1100px;
    }
}

.scoreboard .top-images img,
.scoreboard .bottom-images img {
    height: 80px;
}

.scoreboard .top-images {
    margin-bottom: 20px;
}

.scoreboard .top-images img:first-child {
    float: left;
    margin-left: 50px;
}

.scoreboard .top-images img:last-child {
    float: right;
    margin-right: 50px;
}

.scoreboard .bottom-images {
    margin-top: 30px;
    text-align: center;
}

.pagination {
    text-align: center;
    margin-bottom: 20px;
}

.pagination ul,
.pagination li,
.pagination a {
    display: inline-block;
    color: #fff;
}

.pagination a {
    padding: 0 10px;
}

.pagination li::after {
    content: '|';
}

.pagination li:last-child::after {
    content: none;
}
