<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }} - 2018 FIRST Lego League Robotics Challenge</title>
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
        </header>
        <main>{% block main %}{% endblock %}</main>
        <footer></footer>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>
