{% extends 'base.html' %}
{% block main %}
<table>
    <tr>
        <th>Rank</th>
        <th>Team Name</th>
        <th>Round 1</th>
        <th>Round 2</th>
        <th>Round 3</th>
    </tr>
    {% for team in qualifying %}
        <tr>
            <td>{{ loop.index + 1 }}</td>
            <td>{{ team.name }}</td>

            {% for task in team.tasks %}
                {% if not task.completed %}
                    <td>-</td>
                {% elif team.highest_score == task.score %}
                    <td>
                        <strong>{{ task.score }}</strong>
                    </td>
                {% else %}
                    <td>{{ task.score }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h2>Teams currently not progressing beyind this state</h2>

<table>
    <tr>
        <th>Rank</th>
        <th>Team Name</th>
        <th>Round 1</th>
        <th>Round 2</th>
        <th>Round 3</th>
    </tr>

    {% for team in not_qualifying %}
        <tr>
            <td>{{ loop.index + 9 }}</td>
            <td>{{ team.name }}</td>

            {% for task in team.tasks %}
                {% if not task.completed %}
                    <td>-</td>
                {% elif team.highest_score == task.score %}
                    <td>
                        <strong>{{ task.score }}</strong>
                    </td>
                {% else %}
                    <td>{{ task.score }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
