{% extends 'judges/scoretask_base.html' %}
{% block form %}
<div class="form-input">
    {{ form.task_complete.label(class_='form-label') }}

    {% if form.task_complete.errors %}
        {{ form.task_complete(class_='input-radio input-error') }}
    {% else %}
        {{ form.task_complete(class_='input-radio') }}
    {% endif %}
</div>

<div class="form-input">
    {{ form.bonus.label(class_='form-label') }}

    {% if form.bonus.errors %}
        {{ form.bonus(class_='input-checkbox input-error') }}
    {% else %}
        {{ form.bonus(class_='input-checkbox') }}
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    // disable bonus unless yes in task_complete is selected
</script>
{% endblock %}
