{% extends 'base.html' %}
{% block main %}
<div class="score-task-form">
    <form action="" method="POST" name="scoretask">
        {{ form.hidden_tag() }}

        <h3>{{ form.title }}</h3>
        <div class="info">{{ form.info }}</div>
        <div class="team">
            <span>Team:</span>
            <span>{{ team.name }}</span>
        </div>

        {% block form %}{% endblock %}

        <!-- TODO: add yellow card checkbox -->

        <div class="form-submit">
            <input type="submit" value="Submit" class="button submit-button">
        </div>
    </form>
</div>
{% endblock %}
