{% extends 'base.html' %}
{% block main %}
<div class="score-task-form">
    <form action="" method="POST" name="scoretask">
        {{ form.hidden_tag() }}

        <h3>{{ form.title }}</h3>
        <div class="info">{{ form.info }}</div>
        <div class="team">
            <span>Team:</span>
            <span>{{ team.name }}</span>
        </div>

        {% if form.errors %}
            <div class="errors">
                <ul>
                    {% for _field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block form %}{% endblock %}

        <div class="form-input">
            {{ form.yellow_card.label }}

            {% if form.yellow_card.errors %}
                {{ form.yellow_card(class_='input-checkbox error') }}
            {% else %}
                {{ form.yellow_card(class_='input-checkbox') }}
            {% endif %}
        </div>

        <div class="form-submit">
            <input type="submit" value="Submit" class="button submit-button">
        </div>
    </form>
</div>
{% endblock %}
