{% extends 'base.html' %}
{% block main %}
<div class="score-round-form">
    <form action="{{ url_for('judges_score_round') }}" method="POST" name="scoreround">
        {{ form.hidden_tag() }}

        {% if form.team.errors or form.task.errors %}
            <div class="error">
                <ul>
                    {% for error in form.team.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}

                    {% for error in form.task.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <label class="form-label">
            <span class="label-text">{{ form.team.label }}</span>

            {% if form.team.errors %}
                {{ form.team(class_='error') }}
            {% else %}
                {{ form.team }}
            {% endif %}
        </label>

        <label class="form-label">
            <span class="label-text">{{ form.task.label }}</span>

            {% if form.task.errors %}
                {{ form.task(class_='error') }}
            {% else %}
                {{ form.task }}
            {% endif %}
        </label>

        <div class="form-submit">
            <input type="submit" value="Submit" class="button submit-button">
        </div>
    </form>
</div>
{% endblock %}
